{% extends "base.html" %}
{% block content %}

<h1>Welcome back!</h1>  
<br>
<p>click <a href="/logout">here</a> to logout.</p>
<br>
<br>

<!-- try out form -->
<!-- post form -->
<h3>Add a Post!</h3>
<br>
<form class="form-message" role="form" method="post" action="/">
  {{ form.csrf_token }}
  <p>
    {{ form.title(placeholder="title") }}
    <span class="error">
      {% if form.title.errors %}
        {% for error in form.title.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  
  <p>
    {{ form.description(placeholder="description") }}
    <span class="error">
      {% if form.description.errors %}
        {% for error in form.description.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-sm btn-success" type="submit">Post</button>
</form>

<!-- end of try out form -->


<h3>Posts:</h3>
{% for post in posts %}
    <strong>Title:</strong> {{ post.title }} <br>
    <strong>Date:</strong> {{ post.pub_date }} <br>
    <strong>Post:</strong> {{ post.description }} <br>
    <br>
{% endfor %}
                                            
         
{% endblock %}
          